@mixin verticalMiddle {
  display: table-cell;
  vertical-align: middle;
}

@mixin displayTable {
  height: 100%;
  display: table;
}
@mixin font16{
  color: #757575;
  font: {
    size: 16px;
    family: "-webkit-pictograph";
  }
}

.signin {
  float: right;
  height: 100%;
  ul {
    height: 100%;
    li {
      @include displayTable;
      margin: 0 10px;
      a {
        @include verticalMiddle;
        @include font16;
        color: #000;
      }
    }
  }
}









.showPassword-btn {
  display: block;
  text-align: right;
  margin-top: 20px;
  button {
    cursor: pointer;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    color: #3367d6;
    &:hover {
      text-decoration: underline;
      color: #0754f8;
    }
  }
}

.signin-btn {
  border: none;
  width: 400px;
  button {
    border-radius: 4px !important;
    width: 100%;
    transition: background 0.3s, border-color 0.3s !important;
    font-size: 19px;
    padding: 12px 24px;
    background-color: #3367d6;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    &:hover {
      background-color: #0754f8;
    }
  }

}



.reg-warp {
  width: 400px;
  height: 50px;
  margin-top: 20px;
  display: table;
  .reg-left, .reg-btn {
    display: table-cell;
    vertical-align: middle;
  }
  .reg-left{font-size: 16px;}
  .reg-btn {
    float: right;
    margin-top: 2px;
    padding: 10px;
    background:none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #3367d6;
    text-align: center;
    color: #3367d6;
    font-size: 16px;
    transition: all .3s ease;
    &:hover{
      background-color: #3367d6;
      color: #fff;
      transition: all .3s ease;
    }
  }

}