@mixin verticalMiddle {
  display: table-cell;
  vertical-align: middle;
}

@mixin displayTable {
  height: 100%;
  display: table;
}
@mixin font16{
  color: #757575;
  font: {
    size: 16px;
    family: "-webkit-pictograph";
  }
}
h1{
  color: red;
}
.header-wrap{
  height: 64px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12), inset 0 -1px 0 0 #e6e6e6;
  position: fixed;
  z-index: 10;
  .header {
    height: 64px;
    width: 1200px;
    margin: 0 auto;
    ul {
      li {
        float: left;
      }
    }
    .logo {
      float: left;
      @include displayTable;
      a {
        @include verticalMiddle;
        img {
          width: 125px;
        }
      }
    }
    .nav {
      float: left;
      margin-left: 15px;
      height: 100%;
      ul {
        height: 100%;
        li {
          margin: 0 10px;
          @include displayTable;
          a {
            @include verticalMiddle;
            @include font16;
            &:hover {
              padding-top: 2px;
              border-bottom: 2px solid #3367d6;
              color: #000;
            }
            &.active {
              padding-top: 2px;
              border-bottom: 2px solid #3367d6;
              color: #000;
            }
          }
        }
      }

    }
  }

}

