.footer {
  margin-top: 50px;
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: #586069 !important;
  font-size: 12px;
  vertical-align: middle;
  .content {
    border-top: 1px #e1e4e8 solid !important;
    height: 100%;
    .copy {
      float: left;
    }
    .icon{
      width: 30px;
      vertical-align: middle;
    }
    .ICP {
      float: right;
      margin-left: 20px;
    }
  }
}
