@mixin transform2{
  transform: scale(1.2);
  transition: all 3s ease;
}
@media screen and (min-width: 1200px) {
  .pic{
    width: 800px;
    height:480px;
    overflow: hidden;
    img{
      width: 100%;
      transition: all 2s ease;
      &:hover{
        @include transform2;
      }
    }
  }
}